* {
  background-image: none;
  font-family: "JetBrains Mono";
}

window {
  background-color: rgba(17, 17, 26, 0.95);
}

button {
  color: #cdd6f4;
  background-color: rgba(30, 30, 46, 0.7);
  border-style: solid;
  border-width: 1px;
  border-color: #313244;
  border-radius: 12px;
  margin: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: center 35%;
  background-size: 48px;
  transition: all 0.2s ease;
}

button:focus, button:active, button:hover {
  background-color: rgba(49, 50, 68, 0.9);
  border-color: #cba6f7;
  outline: none;
  box-shadow: 0 0 8px rgba(203, 166, 247, 0.4);
}

label {
  color: #cdd6f4;
  font-size: 16px;
  font-weight: 500;
  margin-top: 60px;
}

#lock {
  background-image: url("/home/nessli/.config/wlogout/icons/lock.svg");
}

#logout {
  background-image: url("/home/nessli/.config/wlogout/icons/logout.svg");
}

#suspend {
  background-image: url("/home/nessli/.config/wlogout/icons/suspend.svg");
}

#hibernate {
  background-image: url("/home/nessli/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
  background-image: url("/home/nessli/.config/wlogout/icons/shutdown.svg");
}

#reboot {
  background-image: url("/home/nessli/.config/wlogout/icons/reboot.svg");
}
